body{
    background-color: #1E1E1E;
    font-family: "Fira Sans Condensed";
}


main {
    background-color: #1A1A1A;
    font-family: "Fira Sans Condensed";
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
}


h2 {
    font-family: "Oswald";
    color: #734E20;
    font-size: 45px;
    margin-top: 20px;
    padding-top: 0px;
    margin-bottom: 35px;
    margin-left: 10px;
}

h3 {
    color: #E0E0E0;
    margin-top: 30px;
    font-size: 35px;
}

h3:hover {
  color: #B0B0B0;
  cursor: pointer;
}

p {
    color: #E0E0E0;
    margin-top: 15px;
    font-size: 14px;
}

hr{
  margin-top: 50px;
  margin-bottom:50px;
  height: 2px;
  border: none;
  background-color: #121212;
}
/* NOTICIAS */

.primeira_linha {
    display: flex;
}

.primeira_linha div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.primeira_linha aside{
    margin: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main_news img{
    width: auto;
    max-height: auto;
    padding-bottom: 20px;
    object-fit: cover;
}

#main_news {
    padding-top: 10px;
    padding-right: 15px;
    flex-basis: 80%;
}

aside {
    padding-top: 10px;
    flex-basis: 40%;
}

aside div h3{
    font-size: 18px;
}

aside div p {
    margin-top: 10px;
    font-size: 12px;
}

#second_news{
    padding-bottom: 30px;
}

/* MATÉRIA */
.materias{
    display: flex;
}

.sessao_materia div {
    display: flex;
}

#primeira_fila div, #segunda_fila div{
    max-width: 350px;
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#primeira_fila div img, #segunda_fila div img{
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
}

#primeira_fila div h3, #segunda_fila div h3{
    font-size: 28px;
}

#segunda, #quarta{
    padding-left: 80px;
}

/* REDES */

.redes {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-left: 120px;
}

.redes div{
    width: auto;
    height: 90px;
    background-color: #262425;
    border: 2px solid #0D0C0C;
    margin-bottom: 30px;
}

#whatsapp{
    background-color: #53AC19;
}

#instagram{
    background-image: linear-gradient(to bottom right, #515BD4, #F58529 );
}

#twitter{
    background-color: black;
}

#facebook{
    background-color: blue;
}

/* RESENHAS */

.resenhas {
    text-align: center;
}

.albuns {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}


.albuns div {
    width: 350px;
    height: 350px;
    display: grid;
    align-items: end;
    background-image: url("https://i.scdn.co/image/ab67616d0000b273a99724e064a3a21838388bee");
    background-size: cover;
    background-position: center;
    border: #0D0C0C 2px solid;
    margin-right: 30px;
    margin-bottom: 50px;
}


.albuns div h3{
    padding: 10px;
    display: grid;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #0D0C0C;
    height: 120px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    opacity: 0.8;
    font-weight: 700;
}

.albuns div img{
    width: auto;
    height: auto;
    object-fit:contain;
    overflow: hidden;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#album1{
    background-image: url("https://i.scdn.co/image/ab67616d0000b273a99724e064a3a21838388bee");
}
#album2{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/3/30/Starset_-_Divisions.png");
}
#album3{
    background-image: url("https://i.scdn.co/image/ab67616d0000b27321ebf49b3292c3f0f575f0f5");
}
#album4{
    background-image: url("https://upload.wikimedia.org/wikipedia/pt/8/85/Iron_Maiden_-_Piece_Of_Mind.jpg");
}


.albuns div:hover  h3{
    display: none;
}

.albuns div:hover{
    cursor: pointer;
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 80px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .5s;
}

#button_resenhas{
    font-family: "Oswald";    
    text-align: center;
    padding: 15px;
    font-size: 18px;
    background-color: #734E20; 
    color: #E0E0E0;
    border: #121212 2px solid;
    border-radius: 50px;
    cursor: pointer;
}
#button_resenhas:hover{
  background-color: #121212;
  color:#E0E0E0;
  border: #734E20 2px solid;
  transition: background-color 1s;
}
/* MEDIA QUERY */

/*Noticia*/

@media screen and (max-width: 1300px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    aside div h3{
        font-size: 15px;
    }    
    #main_news h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 760px) {
    h2 {
        font-family: "Oswald";
        color: #262425;
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        margin-top: 15px;
        font-size: 14px;
    }
    
    .primeira_linha {
        display: block;
    }

    .primeira_linha div {
        margin: 10px;
        padding-bottom: 50px;
        display: flex;
        max-width: auto;
        flex-direction: column;
        overflow: hidden;
    }
    
    #main_image{
        width: auto;
        max-height: 600px;
        padding-bottom: 20px;
        object-fit: cover;
    }
}


/* Matéria */

@media screen and (max-width: 1300px) {
    #primeira_fila div h3, #segunda_fila div h3{
        font-size: 20px;
    }
    #primeira_fila div, #segunda_fila div{
        width: 400px;
    }
    #segunda, #quarta{
        padding-left: 0px;
    }
    .redes {
        padding: 20px;
    }

}

@media screen and (max-width: 1100px) {
    .materias{
        display: block;
    }
    .redes {
        padding: 0;
    }
    .redes div{
        width: auto;
        height: 80px;
        margin-left: 15%;
    }
    #segunda, #quarta{
        padding-left: 80px;
    }
}

@media screen and (max-width: 760px) {
    #segunda, #quarta{
        padding-left: 0px;
    }
    .redes {
        display: block;
        align-content: center;
        width: 500px;
    }
    .redes div{
        width: auto;
        height: 50px;
        margin-left: 0%;
    }
    .sessao_materia {
        flex-direction: column;
    }
    #title {
        margin-top: 30px;
    }
    #primeira_fila div h3, #segunda_fila div h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .redes {
        max-width: 300px;
    }
    #primeira_fila div h3, #segunda_fila div h3{
        font-size: 18px;
    }
    #primeira_fila div p, #segunda_fila div p{
        font-size: 10px;
    }
    .redes h2{
        margin-top: 30px;
    }
}

/* RESENHAS */

@media screen and (max-width: 1100px) {
    .albuns {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .albuns div {
        width: 300px;
        height: 300px;
    }

    .albuns div:hover {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 60px;
    }
}
