.main{
    margin-top: 0;
    margin-left: 15vh;
    margin-right: 15vh;
    padding: 42px;
    background-color: #1E1E1E;
    font-family: 'Fira Sans Condensed';
}

.main h1{
    margin: 0;
    font-size: 7em;
    font-weight: bold;
    color: #734E20;
}